<!DOCTYPE html>
<html lang="en">
<head>
     <style>
        .btn_sub{
        background-color:red;
        height:50px;
        width:150px;
        color:white;
        font-family:Times New Roman;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h2>We have send your email</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_3fkYG9xHVcSfdJhT8ke_9MKc0yKvqT43ixZ2THU75pouQ0xMDgKc5wXa4rix-jpOOU0&usqp=CAU" height="200px" width="400px"><br>
    <span>Please check your email</span><br><br>
    <button type="submit" class="btn_sub"><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Verify your Email</a></button>

</center>
</body>
</html>